<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: locals.file ? file.name : "Home" }) %>
    <link rel="stylesheet" href="/file.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1><%= locals.title ??  'home' %></h1>
      <% if (locals.file) { %>
      <h2 class="name"><%= file.name %></h2>
      <p class="time">
        <time datetime="<%= file.createdAt %>"
          ><%= new Date(file.createdAt).toLocaleString() %></time
        >
      </p>
      <p class="size"><%= file.size %> bytes</p>
      <nav class="file-nav">
        <a href="<%= file.url %>?download" download>download</a>
        <a href="/files/<%= file.id %>/rename">rename</a>
        <a href="/files/<%= file.id %>/delete">delete</a>
      </nav>
      <% } else { %>
      <h2>no file found</h2>
      <% } %>
    </main>
  </body>
</html>
