<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: locals.folder ? folder.name +  ' folder' : "Home" }) %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <% if (locals.user) { %>
      <nav>
        <a href="<%= locals.folder ? folder.id : '/files' %>/upload"
          >upload a file</a
        >
        <% if (locals.showFolders !== false) { %>
        <a href="/folders/create">create a folder</a>
        <% } %>
        <% if (locals.folder) { %>
        <a href="/folders/<%= folder.id %>/delete">delete folder</a>
        <% } %>
      </nav>
      <h1><%= locals.folder ? folder.name :  'home' %></h1>
      <% if (locals.showFolders !== false) { %>
      <% if (locals.folders && folders.length > 0) { %>
      <h2>folders</h2>
      <ul role="list">
        <% folders.forEach(folder => { %>
        <li>
          <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
        </li>
        <% }) %>
      </ul>
      <% } %>
      <% } %>
      <% if (locals.files && files.length > 0) { %>
      <h2>files</h2>
      <ul role="list">
        <% files.forEach(file => { %>
        <% if (file.folderId === null || (locals.folder && file.folderId ===  folder.id)) { %>
        <li>
          <a href="/files/<%= file.id %>"><%= file.originalName %></a>
        </li>
        <% } %>
        <% }) %>
      </ul>
      <% } else { %>
      <h2>no files</h2>
      <% } %>
      <% } else { %>
      <h1>you need to authorize</h1>
      <% } %>
    </main>
  </body>
</html>
