<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: `Rename ${locals.file ? file.name : 'file'}` }) %>
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>
        rename
        <%= locals.file ? file.name : "file" %>
      </h1>
      <%- include('partials/errors') %>
      <form action="" method="post" class="form">
        <div class="input-field">
          <label for="name">name</label
          ><input
            type="text"
            name="name"
            id="name"
            autocomplete="name"
            value="<%= locals.file ? file.name : '' %>"
          />
        </div>
        <button type="submit" class="primary">submit</button>
      </form>
    </main>
  </body>
</html>
